[CLI]

# Output
media_dir = ./media
# video_dir = {media_dir}/videos
# images_dir = {media_dir}/images

# Quality
# quality = low_quality
# quality = medium_quality
quality = high_quality
# frame_rate = 30
# resolution = 1920x1080

# Behavior
write_to_movie = True
preview = False
save_last_frame = False

# Performance
disable_caching = False

# Style
background_color = BLACK